In [1]:
import pandas as pd

In [ ]:
p6_dataframe = pd.read_csv("raw/complete_set.csv").drop(columns=["partition"])
p6_dataframe

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
3,P55317,EUKARYA,NO_SP,MLGTVKMEGHETSDWNSYYADTQEAYSSVPVSNMNSGLGSMNSMNT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
25688,P9WQP3,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25689,P9WQP2,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25690,Q5HV12,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25691,A8FLJ3,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25692,B3GZ85,NEGATIVE,TAT,MNRFTRYDVTPEAIFNQRRQIIKAMGLGAAALSLPNIGFAAEKSDQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOO...,70

In [3]:
### Filter Data
# filter everything len(label) < 70
filtered_df = p6_dataframe[p6_dataframe["length"] == 70]
filtered_df

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
3,P55317,EUKARYA,NO_SP,MLGTVKMEGHETSDWNSYYADTQEAYSSVPVSNMNSGLGSMNSMNT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
25688,P9WQP3,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25689,P9WQP2,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25690,Q5HV12,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25691,A8FLJ3,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25692,B3GZ85,NEGATIVE,TAT,MNRFTRYDVTPEAIFNQRRQIIKAMGLGAAALSLPNIGFAAEKSDQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOO...,70

In [4]:
# remove duplicates
filtered_df = filtered_df.drop_duplicates(keep="first").reset_index(drop=True)
filtered_df

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
3,P55317,EUKARYA,NO_SP,MLGTVKMEGHETSDWNSYYADTQEAYSSVPVSNMNSGLGSMNSMNT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
25444,P9WQP3,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25445,P9WQP2,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25446,Q5HV12,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25447,A8FLJ3,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25448,B3GZ85,NEGATIVE,TAT,MNRFTRYDVTPEAIFNQRRQIIKAMGLGAAALSLPNIGFAAEKSDQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOO...,70

In [5]:
# remove entries with differing annotations
filtered_df = filtered_df.drop_duplicates(subset=["sequence"], keep=False).reset_index(drop=True)
filtered_df

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
3,P55317,EUKARYA,NO_SP,MLGTVKMEGHETSDWNSYYADTQEAYSSVPVSNMNSGLGSMNSMNT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
23568,G8QMC2,NEGATIVE,TAT,MLIRRPPDLLPSEITPEPLARGRRALLKGLGAGAALAGLGLPQISQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,70
23569,H8ZPX1,NEGATIVE,TAT,MANDKGDISKDGVSRRKFLGGAVIGAAAAAGVGSQILSLSATAQGA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
23570,Q9AD93,POSITIVE,TAT,MRQATRKGLMTMAAATGVIAAAGGAAHADSGAHGTSSGSPGVLSGN...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOOOO...,70
23571,P46911,POSITIVE,TAT,MGGKHDISRRQFLNYTLTGVGGFMAASMLMPMVRFALDPVLKSTGK...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOO...,70
23572,Q45657,POSITIVE,TAT,MSDNKHRVTRRQFLNYTLTGVGGFMAAGMLMPMLRFAFDPILRETA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOO...,70

In [7]:
with open("input.fasta", "w") as f:
    for i, row in filtered_df.iterrows():
        f.write(f">{row['uniprot_id']}\n{row['sequence']}\n")

In [ ]:
## external clustering using mmseqs
mmseqs createdb input.fasta inputDB
mmseqs cluster inputDB clusterRes tmp --min-seq-id 0.3
mmseqs createsubdb clusterRes inputDB repDB
mmseqs convert2fasta repDB reduced_30.fasta

In [ ]:
representatives = set()
with open("reduced_30.fasta", "r") as f:
    for line in f:
        if line.startswith(">"):
            representatives.add(line[1:].strip())

reduced_df = filtered_df[filtered_df["uniprot_id"].isin(representatives)].copy()
reduced_df

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
5,Q9PSY4,EUKARYA,NO_SP,MTLSSDMSDVLAEETDIDVVGEEDEPRAEEEEEEDGELLMPRSPHC...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
23568,G8QMC2,NEGATIVE,TAT,MLIRRPPDLLPSEITPEPLARGRRALLKGLGAGAALAGLGLPQISQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,70
23569,H8ZPX1,NEGATIVE,TAT,MANDKGDISKDGVSRRKFLGGAVIGAAAAAGVGSQILSLSATAQGA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
23570,Q9AD93,POSITIVE,TAT,MRQATRKGLMTMAAATGVIAAAGGAAHADSGAHGTSSGSPGVLSGN...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOOOO...,70
23571,P46911,POSITIVE,TAT,MGGKHDISRRQFLNYTLTGVGGFMAASMLMPMVRFALDPVLKSTGK...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOO...,70
23572,Q45657,POSITIVE,TAT,MSDNKHRVTRRQFLNYTLTGVGGFMAAGMLMPMLRFAFDPILRETA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOO...,70

In [61]:
## amino acid validation
valid_aa = set("ACDEFGHIKLMNPQRSTVWY")

for i, row in reduced_df.iterrows():
    if set(row["sequence"]) - valid_aa:
        print(f"{i}; {row['uniprot_id']}")

In [62]:
## binary split for sp / no_sp classification
reduced_df.loc[:, "has_sp"] = reduced_df["type"] != "NO_SP"
reduced_df

,uniprot_id,kingdom,type,sequence,labels,length,has_sp
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
5,Q9PSY4,EUKARYA,NO_SP,MTLSSDMSDVLAEETDIDVVGEEDEPRAEEEEEEDGELLMPRSPHC...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
...,...,...,...,...,...,...,...
23568,G8QMC2,NEGATIVE,TAT,MLIRRPPDLLPSEITPEPLARGRRALLKGLGAGAALAGLGLPQISQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,70,True
23569,H8ZPX1,NEGATIVE,TAT,MANDKGDISKDGVSRRKFLGGAVIGAAAAAGVGSQILSLSATAQGA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70,True
23570,Q9AD93,POSITIVE,TAT,MRQATRKGLMTMAAATGVIAAAGGAAHADSGAHGTSSGSPGVLSGN...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOOOO...,70,True
23571,P46911,POSITIVE,TAT,MGGKHDISRRQFLNYTLTGVGGFMAASMLMPMVRFALDPVLKSTGK...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOO...,70,True
23572,Q45657,POSITIVE,TAT,MSDNKHRVTRRQFLNYTLTGVGGFMAAGMLMPMLRFAFDPILRETA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOO...,70,True

In [ ]:
# train&val 80%, test 20%
from sklearn.model_selection import train_test_split

train_val_df, test_df = train_test_split(reduced_df, test_size=0.2, stratify=reduced_df["type"], random_state=69)

In [ ]:
train_df, val_df = train_test_split(train_val_df, test_size=0.2, stratify=train_val_df["type"], random_state=69)

In [65]:
train_df

,uniprot_id,kingdom,type,sequence,labels,length,has_sp
1482,Q9FJV5,EUKARYA,NO_SP,MMMLESRNSMRASNSVPDLSLQISLPNYHAGKPLHGGDRSSTSSDS...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
13535,Q86M34,EUKARYA,SP,MIVLLLLISYCFAGNGVNVKNQLLLMPYPTTVNAQFGSNDCVEATS...,SSSSSSSSSSSSSOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
12249,O74462,EUKARYA,NO_SP,MSLTVWNIESIKDVAEMLGIGNLADEPAAAIAMDLEYRIHQVVQEA...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
21042,P91929,EUKARYA,NO_SP,MTAVFRVGLVRLVSRATQSPNLLQAQTNALPAAFQQRCSISGKTMR...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
20021,P45761,NEGATIVE,PILIN,MINRQQGFTLLEVMAALAIFSMLSVLAFMIFSQASELHQRSQKEIQ...,PPPPPPPOMMMMMMMMMMMMMMMMMMMMMOOOOOOOOOOOOOOOOO...,70,True
...,...,...,...,...,...,...,...
8193,Q9BZB8,EUKARYA,NO_SP,MALSLEEEAGRIKDCWDNQEAPALSTCSNANIFRRINAILDNSLDF...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
8918,P59054,EUKARYA,NO_SP,MTGLLKRKFDQLEEDDSSSSSSSSFSSRLSLSSFPASSASPAWNSD...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
4132,P29762,EUKARYA,NO_SP,MPNFAGTWKMRSSENFDELLKALGVNAMLRKVAVAAASKPHVEIRQ...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
12929,Q08977,EUKARYA,NO_SP,MFASAGQQHPQIVPKEEESILNYLLEVRSSLAKLKQNRTQYLNSKD...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
18899,P47291,POSITIVE,LIPO,MKKQLKYCFFSLFVSLSSILSSCGSTTFVLANFESYISPLLLERVQ...,LLLLLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOOOOOOOOO...,70,True

In [66]:
val_df

,uniprot_id,kingdom,type,sequence,labels,length,has_sp
5772,Q22866,EUKARYA,NO_SP,MDAIKKKMQAMKIEKDNALDRADAAEEKVRQITEKLERVEEELRDT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
17692,O07750,POSITIVE,LIPO,MCNRLVTVTGVAMVVAAGLSACGQAQTVPRKAARLTIDGVTHTTRP...,LLLLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
17702,P42708,POSITIVE,LIPO,MRRYLILIVALIGITGLSGCYQTSHKKVRFDEGSYTNFIYDNKSYF...,LLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
2028,Q9Z311,EUKARYA,NO_SP,MLVSRRLTGARARAPLLASLLEAWCRQGRTTSSYSAFSEPSHVRAL...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
19930,B8H482,NEGATIVE,NO_SP,MSKPIAENRRARFDYFIEETFEAGIMLTGTEVKSLRTGRANIAESY...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
...,...,...,...,...,...,...,...
18783,Q82XG6,NEGATIVE,LIPO,MRNRGHLVLPVLIVMICVVSGCAITPTPKVQQPMSVRPPDLPVIPP...,LLLLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
17017,O30078,ARCHAEA,TAT,MQLSRRDFIKGLVAVGSASVFLAGYSETVDRLVKPRYTEVKPDSVG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOO...,70,True
5045,Q8R216,EUKARYA,NO_SP,MSGLTFRPTKGRWITHLSRPRSCGPSGLFVPPSPPLDPEKIKELQR...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
234,Q8RWE8,EUKARYA,NO_SP,MLKIKRVPTVVSNYQKDDGAEDPVGCGRNCLGACCLNGARLPLYAC...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
13426,P07093,EUKARYA,SP,MNWHLPLFLLASVTLPSICSHFNPLSLEELGSNTGIQVFNQIVKSR...,SSSSSSSSSSSSSSSSSSSOOOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True

In [67]:
test_df

,uniprot_id,kingdom,type,sequence,labels,length,has_sp
9562,Q91YE2,EUKARYA,NO_SP,MDSPCQPQALNQALPQLPGSVSESLESSRARMGVESYLPCPLLPAY...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
2411,P25270,EUKARYA,NO_SP,MTSLTNAVFKRYLAVTPSAHQALKTRIKKKSSSFDKFFPQQSNSRK...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
8444,Q8RWG2,EUKARYA,NO_SP,MHFFFVPNSSSSSPSPANTSSFSLSFLTPQIPENLCKSPTKIHIGT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
18797,Q06758,NEGATIVE,LIPO,MNMKKWIAAALACSALALSACGGQGKDAAAPAANPGKVYRVASNAE...,LLLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
18493,Q08869,NEGATIVE,LIPO,MNFKKLLGVALVSALALTACKDEKAQAPATTAKTENKAPLKVGVMT...,LLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
...,...,...,...,...,...,...,...
243,Q6DFA8,EUKARYA,NO_SP,MYPNSPSLGRIPLPLPCARQQQTSAYLSKVPVSVAPDLLSPEQFFQ...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
21663,P23743,EUKARYA,NO_SP,MAKERGLISPSDFAQLQKYMEYSTKKVSDVLKLFEDGEMAKYVQGD...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
2209,P87227,EUKARYA,NO_SP,MESFENKGFLDIEEGIQWIKKNSENLSSSKKTILARLQQFHKLCSE...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
7347,P46672,EUKARYA,NO_SP,MSDLVTKFESLIISKYPVSFTKEQSAQAAQWESVLKSGQIQPHLDQ...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
9737,Q09228,EUKARYA,NO_SP,MSRFDSQCSSEDVNKEDECVPSSSEDSQDGVSSPMENDDEPEFSQK...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False

In [ ]:
### save datasets
reduced_df.to_csv("aufgabe3/reduced_30_signalP6.csv", index=False)
train_df.to_csv("aufgabe3/reduced_30_signalP6_train.csv", index=False)
val_df.to_csv("aufgabe3/reduced_30_signalP6_val.csv", index=False)
test_df.to_csv("aufgabe3/reduced_30_signalP6_test.csv", index=False)

In [19]:
from sklearn.model_selection import StratifiedKFold

# Setup 5-fold cross validation
n_folds = 5
skf = StratifiedKFold(n_splits=n_folds, shuffle=True, random_state=42)

# Create fold indices
fold_splits = list(skf.split(train_val_df, train_val_df['has_sp']))

print(f"Created {n_folds}-Fold Cross Validation")
print(f"CV dataset size: {len(train_val_df):,} sequences")
print(f"Test set size: {len(test_df):,} sequences (held out)\n")

# Show fold statistics
for fold_idx, (train_idx, val_idx) in enumerate(fold_splits):
    fold_train = train_val_df.iloc[train_idx]
    fold_val = train_val_df.iloc[val_idx]
    
    print(f"Fold {fold_idx + 1}:")
    print(f"  Train: {len(fold_train):,} samples ({len(fold_train[fold_train['has_sp']]):,} SP, {len(fold_train[~fold_train['has_sp']]):,} NO_SP)")
    print(f"  Val:   {len(fold_val):,} samples ({len(fold_val[fold_val['has_sp']]):,} SP, {len(fold_val[~fold_val['has_sp']]):,} NO_SP)")

Created 5-Fold Cross Validation
CV dataset size: 13,675 sequences
Test set size: 3,419 sequences (held out)

[(array([    1,     2,     3, ..., 13671, 13672, 13674], shape=(10940,)), array([    0,     6,     8, ..., 13662, 13667, 13673], shape=(2735,))), (array([    0,     1,     2, ..., 13672, 13673, 13674], shape=(10940,)), array([    5,    11,    18, ..., 13652, 13657, 13666], shape=(2735,))), (array([    0,     1,     2, ..., 13670, 13673, 13674], shape=(10940,)), array([    3,     9,    16, ..., 13669, 13671, 13672], shape=(2735,))), (array([    0,     1,     3, ..., 13671, 13672, 13673], shape=(10940,)), array([    2,    13,    14, ..., 13658, 13663, 13674], shape=(2735,))), (array([    0,     2,     3, ..., 13672, 13673, 13674], shape=(10940,)), array([    1,     4,     7, ..., 13660, 13664, 13670], shape=(2735,)))]
Fold 1:
  Train: 10,940 samples (1,858 SP, 9,082 NO_SP)
  Val:   2,735 samples (464 SP, 2,271 NO_SP)
Fold 2:
  Train: 10,940 samples (1,858 SP, 9,082 NO_SP)
  Val:   2,735 samples (464 SP, 2,271 NO_SP)
Fold 3:
  Train: 10,940 samples (1,858 SP, 9,082 NO_SP)
  Val:   2,735 samples (464 SP, 2,271 NO_SP)
Fold 4:
  Train: 10,940 samples (1,857 SP, 9,083 NO_SP)
  Val:   2,735 samples (465 SP, 2,270 NO_SP)
Fold 5:
  Train: 10,940 samples (1,857 SP, 9,083 NO_SP)
  Val:   2,735 samples (465 SP, 2,270 NO_SP)

In [ ]:
# Save each fold as separate CSV files
for fold_idx, (train_idx, val_idx) in enumerate(fold_splits):
    # Get fold data
    fold_train_df = train_val_df.iloc[train_idx].copy()
    fold_val_df = train_val_df.iloc[val_idx].copy()
    
    # Save to CSV
    fold_train_df.to_csv(f"aufgabe3/fold_{fold_idx + 1}_train.csv", index=False)
    fold_val_df.to_csv(f"aufgabe3/fold_{fold_idx + 1}_val.csv", index=False)
    
    print(f"Saved Fold {fold_idx + 1}: {len(fold_train_df):,} train, {len(fold_val_df):,} val")

print(f"\nAll {n_folds} folds saved!")
print(f"Test set saved separately: {len(test_df):,} samples")

Saved Fold 1: 10,940 train, 2,735 val
Saved Fold 2: 10,940 train, 2,735 val
Saved Fold 3: 10,940 train, 2,735 val
Saved Fold 4: 10,940 train, 2,735 val
Saved Fold 5: 10,940 train, 2,735 val

All 5 folds saved!
Test set saved separately: 3,419 samples

In [21]:
print("="*70)
print("DATASET ORGANIZATION SUMMARY")
print("="*70)
print(f"\n📁 Complete reduced dataset: {len(reduced_df):,} sequences")
print(f"   └─ File: reduced_30_signalP6.csv\n")

print(f"📁 Test Set (20%, held out): {len(test_df):,} sequences")
print(f"   ├─ NO_SP: {len(test_df[~test_df['has_sp']]):,} ({len(test_df[~test_df['has_sp']])/len(test_df)*100:.1f}%)")
print(f"   ├─ Has SP: {len(test_df[test_df['has_sp']]):,} ({len(test_df[test_df['has_sp']])/len(test_df)*100:.1f}%)")
print(f"   └─ File: reduced_30_signalP6_test.csv\n")

print(f"📁 Cross-Validation Set (80%): {len(train_val_df):,} sequences")
print(f"   ├─ NO_SP: {len(train_val_df[~train_val_df['has_sp']]):,} ({len(train_val_df[~train_val_df['has_sp']])/len(train_val_df)*100:.1f}%)")
print(f"   ├─ Has SP: {len(train_val_df[train_val_df['has_sp']]):,} ({len(train_val_df[train_val_df['has_sp']])/len(train_val_df)*100:.1f}%)")
print(f"   └─ Split into {n_folds} folds:\n")

for fold_idx in range(n_folds):
    fold_train = pd.read_csv(f"fold_{fold_idx + 1}_train.csv")
    fold_val = pd.read_csv(f"fold_{fold_idx + 1}_val.csv")
    print(f"      Fold {fold_idx + 1}:")
    print(f"      ├─ Train: {len(fold_train):,} samples → fold_{fold_idx + 1}_train.csv")
    print(f"      └─ Val:   {len(fold_val):,} samples → fold_{fold_idx + 1}_val.csv")

print("\n" + "="*70)
print("✓ All datasets created successfully!")
print("="*70)

======================================================================
DATASET ORGANIZATION SUMMARY
======================================================================

📁 Complete reduced dataset: 17,094 sequences
   └─ File: reduced_30_signalP6.csv

📁 Test Set (20%, held out): 3,419 sequences
   ├─ NO_SP: 2,838 (83.0%)
   ├─ Has SP: 581 (17.0%)
   └─ File: reduced_30_signalP6_test.csv

📁 Cross-Validation Set (80%): 13,675 sequences
   ├─ NO_SP: 11,353 (83.0%)
   ├─ Has SP: 2,322 (17.0%)
   └─ Split into 5 folds:

      Fold 1:
      ├─ Train: 10,940 samples → fold_1_train.csv
      └─ Val:   2,735 samples → fold_1_val.csv
      Fold 2:
      ├─ Train: 10,940 samples → fold_2_train.csv
      └─ Val:   2,735 samples → fold_2_val.csv
      Fold 3:
      ├─ Train: 10,940 samples → fold_3_train.csv
      └─ Val:   2,735 samples → fold_3_val.csv
      Fold 4:
      ├─ Train: 10,940 samples → fold_4_train.csv
      └─ Val:   2,735 samples → fold_4_val.csv
      Fold 5:
      ├─ Train: 10,940 samples → fold_5_train.csv
      └─ Val:   2,735 samples → fold_5_val.csv

======================================================================
✓ All datasets created successfully!
======================================================================