In [65]:
import pandas as pd

In [66]:
p6_dataframe = pd.read_csv("raw/complete_set.csv").drop(columns=["partition"])
p6_dataframe

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
3,P55317,EUKARYA,NO_SP,MLGTVKMEGHETSDWNSYYADTQEAYSSVPVSNMNSGLGSMNSMNT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
25688,P9WQP3,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25689,P9WQP2,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25690,Q5HV12,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25691,A8FLJ3,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25692,B3GZ85,NEGATIVE,TAT,MNRFTRYDVTPEAIFNQRRQIIKAMGLGAAALSLPNIGFAAEKSDQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOO...,70

In [67]:
### Filter Data
# filter everything len(label) < 70
filtered_df = p6_dataframe[p6_dataframe["length"] == 70]
filtered_df

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
3,P55317,EUKARYA,NO_SP,MLGTVKMEGHETSDWNSYYADTQEAYSSVPVSNMNSGLGSMNSMNT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
25688,P9WQP3,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25689,P9WQP2,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25690,Q5HV12,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25691,A8FLJ3,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25692,B3GZ85,NEGATIVE,TAT,MNRFTRYDVTPEAIFNQRRQIIKAMGLGAAALSLPNIGFAAEKSDQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOO...,70

In [68]:
# remove duplicates
filtered_df = filtered_df.drop_duplicates(keep="first").reset_index(drop=True)
filtered_df

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
3,P55317,EUKARYA,NO_SP,MLGTVKMEGHETSDWNSYYADTQEAYSSVPVSNMNSGLGSMNSMNT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
25444,P9WQP3,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25445,P9WQP2,POSITIVE,TAT,MQLVDRVRGAVTGMSRRLVVGAVGAALVSGLVGAVGGTATAGAFSR...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
25446,Q5HV12,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25447,A8FLJ3,NEGATIVE,TAT,MNRRDFIKNTAIASAASVAGLSVPSSMLGAQEEDWKWDKAVCRFCG...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOO...,70
25448,B3GZ85,NEGATIVE,TAT,MNRFTRYDVTPEAIFNQRRQIIKAMGLGAAALSLPNIGFAAEKSDQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOO...,70

In [69]:
# remove entries with differing annotations
filtered_df = filtered_df.drop_duplicates(subset=["sequence"], keep=False).reset_index(drop=True)
filtered_df

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
2,P36001,EUKARYA,NO_SP,MDDISGRQTLPRINRLLEHVGNPQDSLSILHIAGTNGKETVSKFLT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
3,P55317,EUKARYA,NO_SP,MLGTVKMEGHETSDWNSYYADTQEAYSSVPVSNMNSGLGSMNSMNT...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
4,P35583,EUKARYA,NO_SP,MLGAVKMEGHEPSDWSSYYAEPEGYSSVSNMNAGLGMNGMNTYMSM...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
23568,G8QMC2,NEGATIVE,TAT,MLIRRPPDLLPSEITPEPLARGRRALLKGLGAGAALAGLGLPQISQ...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT...,70
23569,H8ZPX1,NEGATIVE,TAT,MANDKGDISKDGVSRRKFLGGAVIGAAAAAGVGSQILSLSATAQGA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
23570,Q9AD93,POSITIVE,TAT,MRQATRKGLMTMAAATGVIAAAGGAAHADSGAHGTSSGSPGVLSGN...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOOOO...,70
23571,P46911,POSITIVE,TAT,MGGKHDISRRQFLNYTLTGVGGFMAASMLMPMVRFALDPVLKSTGK...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOO...,70
23572,Q45657,POSITIVE,TAT,MSDNKHRVTRRQFLNYTLTGVGGFMAAGMLMPMLRFAFDPILRETA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOO...,70

In [70]:
with open("input.fasta", "w") as f:
    for i, row in filtered_df.iterrows():
        f.write(f">{row['uniprot_id']}\n{row['sequence']}\n")

In [71]:
%%bash
## external clustering using mmseqs
mmseqs createdb input.fasta inputDB
mmseqs cluster inputDB clusterRes tmp --min-seq-id 0.3
mmseqs createsubdb clusterRes inputDB repDB
mmseqs convert2fasta repDB reduced_30.fasta

createdb input.fasta inputDB

MMseqs Version:                    	bd01c2229f027d8d8e61947f44d11ef1a7669212
Database type                      	0
Shuffle input database             	true
Createdb mode                      	0
Write lookup file                  	1
Offset of numeric ids              	0
Threads                            	12
Compressed                         	0
Mask residues                      	0
Mask residues probability          	0.9
Mask lower case residues           	0
Mask lower letter repeating N times	0
Use GPU                            	0
Verbosity                          	3

Converting sequences
[==
Time for merging to inputDB_h: 0h 0m 0s 1ms
Time for merging to inputDB: 0h 0m 0s 1ms
Database type: Aminoacid
Time for processing: 0h 0m 0s 24ms
Create directory tmp
cluster inputDB clusterRes tmp --min-seq-id 0.3

MMseqs Version:                     	bd01c2229f027d8d8e61947f44d11ef1a7669212
Substitution matrix                 	aa:blosum62.out,nucl:nucleotide.out
Seed substitution matrix            	aa:VTML80.out,nucl:nucleotide.out
Sensitivity                         	4
k-mer length                        	0
Target search mode                  	0
k-score                             	seq:2147483647,prof:2147483647
Alphabet size                       	aa:21,nucl:5
Max sequence length                 	65535
Max results per query               	20
Split database                      	0
Split mode                          	2
Split memory limit                  	0
Coverage threshold                  	0.8
Coverage mode                       	0
Compositional bias                  	1
Compositional bias scale            	1
Diagonal scoring                    	true
Exact k-mer matching                	0
Mask residues                       	1
Mask residues probability           	0.9
Mask lower case residues            	0
Mask lower letter repeating N times 	0
Minimum diagonal score              	15
Selected taxa
Include identical seq. id.          	false
Spaced k-mers                       	1
Preload mode                        	0
Pseudo count a                      	substitution:1.100,context:1.400
Pseudo count b                      	substitution:4.100,context:5.800
Spaced k-mer pattern
Local temporary path
Threads                             	12
Compressed                          	0
Verbosity                           	3
Add backtrace                       	false
Alignment mode                      	3
Alignment mode                      	0
Allow wrapped scoring               	false
E-value threshold                   	0.001
Seq. id. threshold                  	0.3
Min alignment length                	0
Seq. id. mode                       	0
Alternative alignments              	0
Max reject                          	2147483647
Max accept                          	2147483647
Score bias                          	0
Realign hits                        	false
Realign score bias                  	-0.2
Realign max seqs                    	2147483647
Correlation score weight            	0
Gap open cost                       	aa:11,nucl:5
Gap extension cost                  	aa:1,nucl:2
Zdrop                               	40
Rescore mode                        	0
Remove hits by seq. id. and coverage	false
Sort results                        	0
Cluster mode                        	0
Max connected component depth       	1000
Similarity type                     	2
Weight file name
Cluster Weight threshold            	0.9
Set mode                            	false
Single step clustering              	false
Cascaded clustering steps           	3
Cluster reassign                    	false
Remove temporary files              	false
Force restart with latest tmp       	false
MPI runner
k-mers per sequence                 	21
Scale k-mers per sequence           	aa:0.000,nucl:0.200
Adjust k-mer length                 	false
Shift hash                          	67
Include only extendable             	false
Skip repeating k-mers               	false

Set cluster sensitivity to -s 5.000000
Set cluster mode SET COVER
Set cluster iterations to 3
linclust inputDB tmp/15442017313262073528/clu_redundancy tmp/15442017313262073528/linclust --cluster-mode 0 --max-iterations 1000 --similarity-type 2 --threads 12 --compressed 0 -v 3 --cluster-weight-threshold 0.9 --set-mode 0 --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' -a 0 --alignment-mode 3 --alignment-output-mode 0 --wrapped-scoring 0 -e 0.001 --min-seq-id 0.3 --min-aln-len 0 --seq-id-mode 0 --alt-ali 0 -c 0.8 --cov-mode 0 --max-seq-len 65535 --comp-bias-corr 1 --comp-bias-corr-scale 1 --max-rejected 2147483647 --max-accept 2147483647 --add-self-matches 0 --db-load-mode 0 --pca substitution:1.100,context:1.400 --pcb substitution:4.100,context:5.800 --score-bias 0 --realign 0 --realign-score-bias -0.2 --realign-max-seqs 2147483647 --corr-score-weight 0 --gap-open aa:11,nucl:5 --gap-extend aa:1,nucl:2 --zdrop 40 --alph-size aa:13,nucl:5 --kmer-per-seq 21 --spaced-kmer-mode 1 --kmer-per-seq-scale aa:0.000,nucl:0.200 --adjust-kmer-len 0 --mask 0 --mask-prob 0.9 --mask-lower-case 0 --mask-n-repeat 0 -k 0 --hash-shift 67 --split-memory-limit 0 --include-only-extendable 0 --ignore-multi-kmer 0 --rescore-mode 0 --filter-hits 0 --sort-results 0 --remove-tmp-files 0 --force-reuse 0

kmermatcher inputDB tmp/15442017313262073528/linclust/7459307913141530178/pref --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' --alph-size aa:13,nucl:5 --min-seq-id 0.3 --kmer-per-seq 21 --spaced-kmer-mode 1 --kmer-per-seq-scale aa:0.000,nucl:0.200 --adjust-kmer-len 0 --mask 0 --mask-prob 0.9 --mask-lower-case 0 --mask-n-repeat 0 --cov-mode 0 -k 0 -c 0.8 --max-seq-len 65535 --hash-shift 67 --split-memory-limit 0 --include-only-extendable 0 --ignore-multi-kmer 0 --threads 12 --compressed 0 -v 3 --cluster-weight-threshold 0.9

kmermatcher inputDB tmp/15442017313262073528/linclust/7459307913141530178/pref --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' --alph-size aa:13,nucl:5 --min-seq-id 0.3 --kmer-per-seq 21 --spaced-kmer-mode 1 --kmer-per-seq-scale aa:0.000,nucl:0.200 --adjust-kmer-len 0 --mask 0 --mask-prob 0.9 --mask-lower-case 0 --mask-n-repeat 0 --cov-mode 0 -k 0 -c 0.8 --max-seq-len 65535 --hash-shift 67 --split-memory-limit 0 --include-only-extendable 0 --ignore-multi-kmer 0 --threads 12 --compressed 0 -v 3 --cluster-weight-threshold 0.9

Database size: 23573 type: Aminoacid
Reduced amino acid alphabet: (A S T) (C) (D B N) (E Q Z) (F Y) (G) (H) (I V) (K R) (L J M) (P) (W) (X)

Generate k-mers list for 1 split
[=================================================================] 23.57K 0s 5ms
Sort kmer 0h 0m 0s 29ms
Sort by rep. sequence 0h 0m 0s 1ms
Time for fill: 0h 0m 0s 0ms
Time for merging to pref: 0h 0m 0s 0ms
Time for processing: 0h 0m 0s 47ms
rescorediagonal inputDB inputDB tmp/15442017313262073528/linclust/7459307913141530178/pref tmp/15442017313262073528/linclust/7459307913141530178/pref_rescore1 --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' --rescore-mode 0 --wrapped-scoring 0 --filter-hits 0 -e 0.001 -c 0.8 -a 0 --cov-mode 0 --min-seq-id 0.5 --min-aln-len 0 --seq-id-mode 0 --add-self-matches 0 --sort-results 0 --db-load-mode 0 --threads 12 --compressed 0 -v 3

[=================================================================] 23.57K 0s 2ms
Time for merging to pref_rescore1: 0h 0m 0s 2ms
Time for processing: 0h 0m 0s 24ms
clust inputDB tmp/15442017313262073528/linclust/7459307913141530178/pref_rescore1 tmp/15442017313262073528/linclust/7459307913141530178/pre_clust --cluster-mode 0 --max-iterations 1000 --similarity-type 2 --threads 12 --compressed 0 -v 3 --cluster-weight-threshold 0.9 --set-mode 0

Clustering mode: Set Cover
[=================================================================] 23.57K 0s 0ms
Sort entries
Find missing connections
Found 5457 new connections.
Reconstruct initial order
[=================================================================] 23.57K 0s 0ms
Add missing connections
[=================================================================] 23.57K 0s 0ms

Time for read in: 0h 0m 0s 1ms
Total time: 0h 0m 0s 25ms

Size of the sequence database: 23573
Size of the alignment database: 23573
Number of clusters: 19769

Writing results 0h 0m 0s 0ms
Time for merging to pre_clust: 0h 0m 0s 0ms
Time for processing: 0h 0m 0s 31ms
createsubdb tmp/15442017313262073528/linclust/7459307913141530178/order_redundancy inputDB tmp/15442017313262073528/linclust/7459307913141530178/input_step_redundancy -v 3 --subdb-mode 1

Time for merging to input_step_redundancy: 0h 0m 0s 0ms
Time for processing: 0h 0m 0s 1ms
createsubdb tmp/15442017313262073528/linclust/7459307913141530178/order_redundancy tmp/15442017313262073528/linclust/7459307913141530178/pref tmp/15442017313262073528/linclust/7459307913141530178/pref_filter1 -v 3 --subdb-mode 1

Time for merging to pref_filter1: 0h 0m 0s 0ms
Time for processing: 0h 0m 0s 1ms
filterdb tmp/15442017313262073528/linclust/7459307913141530178/pref_filter1 tmp/15442017313262073528/linclust/7459307913141530178/pref_filter2 --filter-file tmp/15442017313262073528/linclust/7459307913141530178/order_redundancy --threads 12 --compressed 0 -v 3

Filtering using file(s)
[=================================================================] 19.77K 0s 3ms
Time for merging to pref_filter2: 0h 0m 0s 1ms
Time for processing: 0h 0m 0s 11ms
rescorediagonal tmp/15442017313262073528/linclust/7459307913141530178/input_step_redundancy tmp/15442017313262073528/linclust/7459307913141530178/input_step_redundancy tmp/15442017313262073528/linclust/7459307913141530178/pref_filter2 tmp/15442017313262073528/linclust/7459307913141530178/pref_rescore2 --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' --rescore-mode 1 --wrapped-scoring 0 --filter-hits 1 -e 0.001 -c 0.8 -a 0 --cov-mode 0 --min-seq-id 0.3 --min-aln-len 0 --seq-id-mode 0 --add-self-matches 0 --sort-results 0 --db-load-mode 0 --threads 12 --compressed 0 -v 3

[=================================================================] 19.77K 0s 3ms
Time for merging to pref_rescore2: 0h 0m 0s 2ms
Time for processing: 0h 0m 0s 16ms
align tmp/15442017313262073528/linclust/7459307913141530178/input_step_redundancy tmp/15442017313262073528/linclust/7459307913141530178/input_step_redundancy tmp/15442017313262073528/linclust/7459307913141530178/pref_rescore2 tmp/15442017313262073528/linclust/7459307913141530178/aln --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' -a 0 --alignment-mode 3 --alignment-output-mode 0 --wrapped-scoring 0 -e 0.001 --min-seq-id 0.3 --min-aln-len 0 --seq-id-mode 0 --alt-ali 0 -c 0.8 --cov-mode 0 --max-seq-len 65535 --comp-bias-corr 1 --comp-bias-corr-scale 1 --max-rejected 2147483647 --max-accept 2147483647 --add-self-matches 0 --db-load-mode 0 --pca substitution:1.100,context:1.400 --pcb substitution:4.100,context:5.800 --score-bias 0 --realign 0 --realign-score-bias -0.2 --realign-max-seqs 2147483647 --corr-score-weight 0 --gap-open aa:11,nucl:5 --gap-extend aa:1,nucl:2 --zdrop 40 --threads 12 --compressed 0 -v 3

Compute score, coverage and sequence identity
Query database size: 19769 type: Aminoacid
Target database size: 19769 type: Aminoacid
Calculation of alignments
[=================================================================] 19.77K 0s 24ms
Time for merging to aln: 0h 0m 0s 3ms
21680 alignments calculated
20288 sequence pairs passed the thresholds (0.935793 of overall calculated)
1.026253 hits per query sequence
Time for processing: 0h 0m 0s 31ms
clust tmp/15442017313262073528/linclust/7459307913141530178/input_step_redundancy tmp/15442017313262073528/linclust/7459307913141530178/aln tmp/15442017313262073528/linclust/7459307913141530178/clust --cluster-mode 0 --max-iterations 1000 --similarity-type 2 --threads 12 --compressed 0 -v 3 --cluster-weight-threshold 0.9 --set-mode 0

Clustering mode: Set Cover
[=================================================================] 19.77K 0s 3ms
Sort entries
Find missing connections
Found 519 new connections.
Reconstruct initial order
[=================================================================] 19.77K 0s 3ms
Add missing connections
[=================================================================] 19.77K 0s 0ms

Time for read in: 0h 0m 0s 28ms
Total time: 0h 0m 0s 33ms

Size of the sequence database: 19769
Size of the alignment database: 19769
Number of clusters: 19312

Writing results 0h 0m 0s 0ms
Time for merging to clust: 0h 0m 0s 0ms
Time for processing: 0h 0m 0s 36ms
mergeclusters inputDB tmp/15442017313262073528/clu_redundancy tmp/15442017313262073528/linclust/7459307913141530178/pre_clust tmp/15442017313262073528/linclust/7459307913141530178/clust --threads 12 --compressed 0 -v 3

Clustering step 1
[=================================================================] 19.77K 0s 3ms
Clustering step 2
[=================================================================] 19.31K 0s 11ms
Write merged clustering
[=================================================================] 23.57K 0s 12ms
Time for merging to clu_redundancy: 0h 0m 0s 1ms
Time for processing: 0h 0m 0s 17ms
createsubdb tmp/15442017313262073528/clu_redundancy inputDB tmp/15442017313262073528/input_step_redundancy -v 3 --subdb-mode 1

Time for merging to input_step_redundancy: 0h 0m 0s 0ms
Time for processing: 0h 0m 0s 1ms
prefilter tmp/15442017313262073528/input_step_redundancy tmp/15442017313262073528/input_step_redundancy tmp/15442017313262073528/pref_step0 --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' --seed-sub-mat 'aa:VTML80.out,nucl:nucleotide.out' -s 1 -k 0 --target-search-mode 0 --k-score seq:2147483647,prof:2147483647 --alph-size aa:21,nucl:5 --max-seq-len 65535 --max-seqs 20 --split 0 --split-mode 2 --split-memory-limit 0 -c 0.8 --cov-mode 0 --comp-bias-corr 0 --comp-bias-corr-scale 1 --diag-score 0 --exact-kmer-matching 0 --mask 1 --mask-prob 0.9 --mask-lower-case 0 --mask-n-repeat 0 --min-ungapped-score 0 --add-self-matches 0 --spaced-kmer-mode 1 --db-load-mode 0 --pca substitution:1.100,context:1.400 --pcb substitution:4.100,context:5.800 --threads 12 --compressed 0 -v 3

Query database size: 19312 type: Aminoacid
Estimated memory consumption: 998M
Target database size: 19312 type: Aminoacid
Index table k-mer threshold: 154 at k-mer size 6
Index table: counting k-mers
[=================================================================] 19.31K 0s 8ms
Index table: Masked residues: 23620
Index table: fill
[=================================================================] 19.31K 0s 8ms
Index statistics
Entries:          520604
DB size:          491 MB
Avg k-mer size:   0.008134
Top 10 k-mers
    GFFPEE	10
    FRHTEL	10
    DADCVH	9
    LGGFVR	9
    LGGFVY	9
    AVACYF	8
    IGGFVY	8
    VGGYVY	8
    FVFDDA	7
    RRFKGA	7
Time for index table init: 0h 0m 0s 201ms
Process prefiltering step 1 of 1

k-mer similarity threshold: 154
Starting prefiltering scores calculation (step 1 of 1)
Query db start 1 to 19312
Target db start 1 to 19312
[=================================================================] 19.31K 0s 21ms

1.714636 k-mers per position
29 DB matches per sequence
0 overflows
1 sequences passed prefiltering per query sequence
1 median result list length
0 sequences with 0 size result lists
Time for merging to pref_step0: 0h 0m 0s 2ms
Time for processing: 0h 0m 0s 396ms
align tmp/15442017313262073528/input_step_redundancy tmp/15442017313262073528/input_step_redundancy tmp/15442017313262073528/pref_step0 tmp/15442017313262073528/aln_step0 --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' -a 0 --alignment-mode 3 --alignment-output-mode 0 --wrapped-scoring 0 -e 0.001 --min-seq-id 0.3 --min-aln-len 0 --seq-id-mode 0 --alt-ali 0 -c 0.8 --cov-mode 0 --max-seq-len 65535 --comp-bias-corr 0 --comp-bias-corr-scale 1 --max-rejected 2147483647 --max-accept 2147483647 --add-self-matches 0 --db-load-mode 0 --pca substitution:1.100,context:1.400 --pcb substitution:4.100,context:5.800 --score-bias 0 --realign 0 --realign-score-bias -0.2 --realign-max-seqs 2147483647 --corr-score-weight 0 --gap-open aa:11,nucl:5 --gap-extend aa:1,nucl:2 --zdrop 40 --threads 12 --compressed 0 -v 3

Compute score, coverage and sequence identity
Query database size: 19312 type: Aminoacid
Target database size: 19312 type: Aminoacid
Calculation of alignments
[=================================================================] 19.31K 0s 20ms
Time for merging to aln_step0: 0h 0m 0s 2ms
24227 alignments calculated
21550 sequence pairs passed the thresholds (0.889503 of overall calculated)
1.115886 hits per query sequence
Time for processing: 0h 0m 0s 26ms
clust tmp/15442017313262073528/input_step_redundancy tmp/15442017313262073528/aln_step0 tmp/15442017313262073528/clu_step0 --cluster-mode 0 --max-iterations 1000 --similarity-type 2 --threads 12 --compressed 0 -v 3 --cluster-weight-threshold 0.9 --set-mode 0

Clustering mode: Set Cover
[=================================================================] 19.31K 0s 0ms
Sort entries
Find missing connections
Found 8 new connections.
Reconstruct initial order
[=================================================================] 19.31K 0s 0ms
Add missing connections
[=================================================================] 19.31K 0s 0ms

Time for read in: 0h 0m 0s 1ms
Total time: 0h 0m 0s 3ms

Size of the sequence database: 19312
Size of the alignment database: 19312
Number of clusters: 18383

Writing results 0h 0m 0s 0ms
Time for merging to clu_step0: 0h 0m 0s 0ms
Time for processing: 0h 0m 0s 13ms
createsubdb tmp/15442017313262073528/clu_step0 tmp/15442017313262073528/input_step_redundancy tmp/15442017313262073528/input_step1 -v 3 --subdb-mode 1

Time for merging to input_step1: 0h 0m 0s 0ms
Time for processing: 0h 0m 0s 1ms
prefilter tmp/15442017313262073528/input_step1 tmp/15442017313262073528/input_step1 tmp/15442017313262073528/pref_step1 --sub-mat 'aa:blosum62.out,nucl:nucleotide.out' --seed-sub-mat 'aa:VTML80.out,nucl:nucleotide.out' -s 3 -k 0 --target-search-mode 0 --k-score seq:2147483647,prof:2147483647 --alph-size aa:21,nucl:5 --max-seq-len 65535 --max-seqs 20 --split 0 --split-mode 2 --split-memory-limit 0 -c 0.8 --cov-mode 0 --comp-bias-corr 1 --comp-bias-corr-scale 1 --diag-score 1 --exact-kmer-matching 0 --mask 1 --mask-prob 0.9 --mask-lower-case 0 --mask-n-repeat 0 --min-ungapped-score 15 --add-self-matches 0 --spaced-kmer-mode 1 --db-load-mode 0 --pca substitution:1.100,context:1.400 --pcb substitution:4.100,context:5.800 --threads 12 --compressed 0 -v 3

Query database size: 18383 type: Aminoacid
Estimated memory consumption: 997M
Target database size: 18383 type: Aminoacid
Index table k-mer threshold: 136 at k-mer size 6
Index table: counting k-mers
[=================================================================] 18.38K 0s 8ms
Index table: Masked residues: 22973
Index table: fill
[=================================================================] 18.38K 0s 18ms
Index statistics
Entries:          1012445
DB size:          494 MB
Avg k-mer size:   0.015819
Top 10 k-mers
    LGGFVK	9
    MKLLLV	9
    LGGFVY	9
    GAGGAA	8
    LGGFVR	8
    IGGFVY	8
    VGGYVY	8
    GFLELA	7
    TGGSSG	7
    VVGGGL	7
Time for index table init: 0h 0m 0s 212ms
Process prefiltering step 1 of 1

k-mer similarity threshold: 136
Starting prefiltering scores calculation (step 1 of 1)
Query db start 1 to 18383
Target db start 1 to 18383
[=================================================================] 18.38K 0s 128ms

15.509256 k-mers per position
58 DB matches per sequence
0 overflows
1 sequences passed prefiltering per query sequence
1 median result list length
0 sequences with 0 size result lists
Time for merging to pref_step1: 0h 0m 0s 2ms
Time for processing: 0h 0m 0s 515ms

In [72]:
representatives = set()
with open("reduced_30.fasta", "r") as f:
    for line in f:
        if line.startswith(">"):
            representatives.add(line[1:].strip())

reduced_df = filtered_df[filtered_df["uniprot_id"].isin(representatives)].copy()
reduced_df

,uniprot_id,kingdom,type,sequence,labels,length
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
5,Q9PSY4,EUKARYA,NO_SP,MTLSSDMSDVLAEETDIDVVGEEDEPRAEEEEEEDGELLMPRSPHC...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
6,P55316,EUKARYA,NO_SP,MLDMGDRKEVKMIPKSSFSINSLVPEAVQNDNHHASHGHHNSHHPQ...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
7,Q9BZS1,EUKARYA,NO_SP,MPNPRPGKPSAPSLALGPSPGASPSWRAAPKASDLLGARGPGGTFQ...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70
...,...,...,...,...,...,...
23565,C8WLM1,POSITIVE,TATLIPO,MEYGKCRGIERGMGRRDFLKAATLLGATAAGAGMLAGCAPKSASEA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOO...,70
23566,Q8VPD4,POSITIVE,TAT,MAFTRRSFMKGLGATGGAGLAYGAMSTLGLAPSTAAPARTFQPLAA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTO...,70
23567,Q8A861,NEGATIVE,TAT,MPNRRDFLKTAAFATLGSGIAVSQVLAGECMPSAIHINKYGIGGKM...,TTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOOOOO...,70
23569,H8ZPX1,NEGATIVE,TAT,MANDKGDISKDGVSRRKFLGGAVIGAAAAAGVGSQILSLSATAQGA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70
23572,Q45657,POSITIVE,TAT,MSDNKHRVTRRQFLNYTLTGVGGFMAAGMLMPMLRFAFDPILRETA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOO...,70

In [73]:
## amino acid validation
valid_aa = set("ACDEFGHIKLMNPQRSTVWY")

for i, row in reduced_df.iterrows():
    if set(row["sequence"]) - valid_aa:
        print(f"{i}; {row['uniprot_id']}")

In [74]:
## binary split for sp / no_sp classification
reduced_df.loc[:, "has_sp"] = reduced_df["type"] != "NO_SP"
reduced_df

,uniprot_id,kingdom,type,sequence,labels,length,has_sp
0,Q8TF40,EUKARYA,NO_SP,MAPTLFQKLFSKRTGLGAPGRDARDPDCGFSWPLPEFDPSQIRLIV...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
1,Q1ENB6,EUKARYA,NO_SP,MDFTSLETTTFEEVVIALGSNVGNRMNNFKEALRLMKDYGISVTRH...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
5,Q9PSY4,EUKARYA,NO_SP,MTLSSDMSDVLAEETDIDVVGEEDEPRAEEEEEEDGELLMPRSPHC...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
6,P55316,EUKARYA,NO_SP,MLDMGDRKEVKMIPKSSFSINSLVPEAVQNDNHHASHGHHNSHHPQ...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
7,Q9BZS1,EUKARYA,NO_SP,MPNPRPGKPSAPSLALGPSPGASPSWRAAPKASDLLGARGPGGTFQ...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
...,...,...,...,...,...,...,...
23565,C8WLM1,POSITIVE,TATLIPO,MEYGKCRGIERGMGRRDFLKAATLLGATAAGAGMLAGCAPKSASEA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOO...,70,True
23566,Q8VPD4,POSITIVE,TAT,MAFTRRSFMKGLGATGGAGLAYGAMSTLGLAPSTAAPARTFQPLAA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTO...,70,True
23567,Q8A861,NEGATIVE,TAT,MPNRRDFLKTAAFATLGSGIAVSQVLAGECMPSAIHINKYGIGGKM...,TTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOOOOO...,70,True
23569,H8ZPX1,NEGATIVE,TAT,MANDKGDISKDGVSRRKFLGGAVIGAAAAAGVGSQILSLSATAQGA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOO...,70,True
23572,Q45657,POSITIVE,TAT,MSDNKHRVTRRQFLNYTLTGVGGFMAAGMLMPMLRFAFDPILRETA...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOO...,70,True

In [75]:
# train&val 80%, test 20%
from sklearn.model_selection import train_test_split

train_val_df, test_df = train_test_split(reduced_df, test_size=0.2, stratify=reduced_df["type"], random_state=69)

In [76]:
train_df, val_df = train_test_split(train_val_df, test_size=0.2, stratify=train_val_df["type"], random_state=69)

In [77]:
train_df

,uniprot_id,kingdom,type,sequence,labels,length,has_sp
13293,Q9UUK4,EUKARYA,NO_SP,MFSSKRYLNSFGWEEGNALKEGGLTKPILTSRKYNTHGLGAKHDIA...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
12760,O74417,EUKARYA,NO_SP,MSQVIQYSEADLLYLSKSPLIKKPENLPEWILPEAMKADRERHIRQ...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
11122,P11181,EUKARYA,NO_SP,MAAALVLRTWSRAAGQLICVRYFQTCGNVHVLKPKYVCFFGYPPFK...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
11092,O15504,EUKARYA,NO_SP,MAICQFFLQGRCRFGDRCWNEHPGARGAGGGRQQPQQQPSGNNRRG...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
5950,Q06266,EUKARYA,NO_SP,MSSQFPSSPYRTVDPYSPPNYKQQPNCPSSNYEKAGKTASESIGNF...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
...,...,...,...,...,...,...,...
9875,Q8N9N8,EUKARYA,NO_SP,MSQATKRKHVVKEVLGEHIVPSDQQQIVRVLRTPGNNLHEVETAQG...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
11130,Q9P4X2,EUKARYA,NO_SP,MYFLILFSSNAELGEVLRTMRSVEDRFNKRFHYPWTFYGMDEFTEY...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
3876,Q9UJ41,EUKARYA,NO_SP,MVVVTGREPDSRRQDGAMSSSDAEDDFLEPATPTATQAGHALPLLP...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
5163,P15619,EUKARYA,NO_SP,MEGGKGEGKRMKEEAPSKKLPPKIYGGDAGTPTKAAHDEILSSLLR...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
6688,Q03771,EUKARYA,NO_SP,MSELEATIRQAKEALAENNAKKALKILKPFKSSLKKENANNVILNE...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False

In [78]:
import pandas as pd

counts = train_df["type"].value_counts()
max_count = counts.max()

dfs_to_concat = []

for label, count in counts.items():
    # Filter by the specific label
    train_subset = train_df[train_df["type"] == label]
    
    # Oversample to match max_coun replace=True so we can sample more rows than exist
    oversampled_subset = train_subset.sample(n=max_count, replace=True, random_state=69)
    
    dfs_to_concat.append(oversampled_subset)

# Concatenate at the end
train_df = pd.concat(dfs_to_concat, ignore_index=True)

# Shuffle the final dataframe so classes aren't ordered blocks
train_df = train_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [79]:
# check new class distribution
train_df["type"].value_counts()

type
PILIN      9082
TAT        9082
SP         9082
TATLIPO    9082
LIPO       9082
NO_SP      9082
Name: count, dtype: int64

In [80]:
val_df

,uniprot_id,kingdom,type,sequence,labels,length,has_sp
9773,Q9FNY0,EUKARYA,NO_SP,MSGVVRSSPGSSQPPPPPPHHPPSSPVPVTSTPVIPPIRRHLAFAS...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
6202,A4Q9E8,EUKARYA,NO_SP,MLQCLTSESEEGAEEREESSTEDLEELKEFVTLAFVRENTQKRLQN...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
2522,Q8RXH8,EUKARYA,NO_SP,MKAGMFYCASQASTATANGERTVTARAIDRHNPIIKDGRRSFTAPC...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
12591,Q10200,EUKARYA,NO_SP,MKKNNERVNTNPSLISKSYNMKKRPVIGTRRHFARKEIESDSDDED...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
4775,Q9UTD7,EUKARYA,NO_SP,MAKSQRSQIKNEDISFVSQEDDSSKKFVKDDSENSEEELEDLNSED...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
...,...,...,...,...,...,...,...
8563,P0DJH7,EUKARYA,NO_SP,MEEREGGFRKETVERLLRLHFRDGRTRVNGDALLLMAELLKVFVRE...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
21268,O75323,EUKARYA,NO_SP,MAARVLRARGAAWAGGLLQRAAPCSLLPRLRTWTSSSNRSREDSWL...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
18983,P37665,NEGATIVE,LIPO,MKKRVYLIAAVVSGALAVSGCTTNPYTGEREAGKSAIGAGLGSLVG...,LLLLLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOMMMMMMMMMM...,70,True
1402,Q62315,EUKARYA,NO_SP,MSKERPKRNIIQKKYDDSDGIPWSEERVVRKVLYLSLKEFKNAQKR...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
9026,Q7XA78,EUKARYA,NO_SP,MNTKLSLSQTKIFTFTTWFNDTRSGLDRRSSISPTLCSKPVYSGKL...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False

In [81]:
test_df

,uniprot_id,kingdom,type,sequence,labels,length,has_sp
18084,B2VGX7,NEGATIVE,TAT,MKAVNPLTENDVTPESLFNARRRTVLKMLGMSAAALSLPGAARADL...,TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOO...,70,True
119,Q9DEN4,EUKARYA,NO_SP,MTLSGSGSASDMSGQTVLSADDADIDVVGEGDEALDKDSECESTAG...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
1049,A9QM74,EUKARYA,NO_SP,MPTLDAPEERRRKFKYRGKDVSLRRQQRMAVSLELRKAKKDEQTLK...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
2541,Q8K3I4,EUKARYA,NO_SP,MGRKLDLSGLTDDETEHVLQVVQRDFNLRKKEEDRLSEMKQRLAEE...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
4434,Q920M2,EUKARYA,NO_SP,MEVPELGPGLVERLEQLATCPLCGGPFEDPVLLACEHSFCRSCLAR...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
...,...,...,...,...,...,...,...
4214,Q8NE09,EUKARYA,NO_SP,MPEKRLTAEPPTITEEEFEDSLATDDFLVDYFNEFLSLPTFSEAIR...,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII...,70,False
13754,P13504,EUKARYA,SP,MENMKVLLGLICLMVPLLSLEIDVCTEYPNQIVLFLSVNEIDIRKC...,SSSSSSSSSSSSSSSSSSSOOOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
13515,O18994,EUKARYA,SP,MTVQLGAFYLFPLFMAGFVQTNSNLEKMDCYKDVTGTIYDYDAFTL...,SSSSSSSSSSSSSSSSSSSSSOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
15311,P80686,EUKARYA,SP,MYKFVVFAAALAYANAGLIGAPAVAAYSAAPAVSSAYIHQAAPVAV...,SSSSSSSSSSSSSSSSOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO...,70,True
14725,E3W9M2,EUKARYA,SP,MNMSCKFEIVLLVSWWLLLVLVFGVESSMFSEFDRLDFPKHFIFGA...,SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSOOOOOOOOOOOOOOOO...,70,True

In [82]:
### save datasets
reduced_df.to_csv("aufgabe3/reduced_30_signalP6_oversampled.csv", index=False)
train_df.to_csv("aufgabe3/reduced_30_signalP6_train_oversampled.csv", index=False)
val_df.to_csv("aufgabe3/reduced_30_signalP6_val_oversampled.csv", index=False)
test_df.to_csv("aufgabe3/reduced_30_signalP6_test_oversampled.csv", index=False)

In [83]:
from sklearn.model_selection import StratifiedKFold

# Setup 3-fold cross validation
n_folds = 3
skf = StratifiedKFold(n_splits=n_folds, shuffle=True, random_state=42)

# Create fold indices
fold_splits = list(skf.split(train_val_df, train_val_df['type']))

print(f"Created {n_folds}-Fold Cross Validation")
print(f"CV dataset size: {len(train_val_df):,} sequences")
print(f"Test set size: {len(test_df):,} sequences (held out)\n")

# Show fold statistics
for fold_idx, (train_idx, val_idx) in enumerate(fold_splits):
    fold_train = train_val_df.iloc[train_idx]
    fold_val = train_val_df.iloc[val_idx]
    
    print(f"Fold {fold_idx + 1}:")
    print(f"  Train: {len(fold_train):,} samples ({len(fold_train[fold_train['has_sp']]):,} SP, {len(fold_train[~fold_train['has_sp']]):,} NO_SP)")
    print(f"  Val:   {len(fold_val):,} samples ({len(fold_val[fold_val['has_sp']]):,} SP, {len(fold_val[~fold_val['has_sp']]):,} NO_SP)")

Created 3-Fold Cross Validation
CV dataset size: 13,675 sequences
Test set size: 3,419 sequences (held out)

Fold 1:
  Train: 9,116 samples (1,548 SP, 7,568 NO_SP)
  Val:   4,559 samples (774 SP, 3,785 NO_SP)
Fold 2:
  Train: 9,117 samples (1,548 SP, 7,569 NO_SP)
  Val:   4,558 samples (774 SP, 3,784 NO_SP)
Fold 3:
  Train: 9,117 samples (1,548 SP, 7,569 NO_SP)
  Val:   4,558 samples (774 SP, 3,784 NO_SP)

In [ ]:
# Helper function for moderate oversampling (to median, not max)
def oversample_to_median(df, target_col="type", random_state=69):
    """Oversample minority classes to median class count (more moderate than max)."""
    counts = df[target_col].value_counts()
    target_count = int(counts.median())
    
    print(f"Class distribution before: {dict(counts)}")
    print(f"Target count (median): {target_count}")
    
    dfs_to_concat = []
    for label in counts.index:
        subset = df[df[target_col] == label]
        current_count = len(subset)
        
        if current_count < target_count:
            # Oversample minority classes to reach median
            oversampled = subset.sample(n=target_count, replace=True, random_state=random_state)
            dfs_to_concat.append(oversampled)
        else:
            # Keep majority classes as-is (no undersampling)
            dfs_to_concat.append(subset)
    
    result = pd.concat(dfs_to_concat, ignore_index=True)
    result = result.sample(frac=1, random_state=42).reset_index(drop=True)
    
    print(f"Class distribution after: {dict(result[target_col].value_counts())}")
    return result

# Save each fold as separate CSV files with oversampled training data
for fold_idx, (train_idx, val_idx) in enumerate(fold_splits):
    # Get fold data
    fold_train_df = train_val_df.iloc[train_idx].copy()
    fold_val_df = train_val_df.iloc[val_idx].copy()
    
    # Apply moderate oversampling to training set only
    print(f"\n--- Fold {fold_idx + 1} ---")
    fold_train_oversampled = oversample_to_median(fold_train_df)
    
    # Save oversampled train, original val (validation should not be oversampled)
    fold_train_oversampled.to_csv(f"aufgabe3/3-fold/fold_{fold_idx + 1}_train_oversampled.csv", index=False)
    fold_val_df.to_csv(f"aufgabe3/3-fold/fold_{fold_idx + 1}_val_oversampled.csv", index=False)
    
    print(f"Result: {len(fold_train_df):,} → {len(fold_train_oversampled):,} train, {len(fold_val_df):,} val")

print(f"\n✓ All {n_folds} folds saved!")
print(f"Test set saved separately: {len(test_df):,} samples")

--- Fold 1 ---
Class distribution before: {'NO_SP': np.int64(7568), 'SP': np.int64(1082), 'LIPO': np.int64(349), 'TAT': np.int64(90), 'PILIN': np.int64(18), 'TATLIPO': np.int64(9)}
Target count (median): 219
Class distribution after: {'NO_SP': np.int64(7568), 'SP': np.int64(1082), 'LIPO': np.int64(349), 'TATLIPO': np.int64(219), 'TAT': np.int64(219), 'PILIN': np.int64(219)}
Result: 9,116 → 9,656 train, 4,559 val

--- Fold 2 ---
Class distribution before: {'NO_SP': np.int64(7569), 'SP': np.int64(1082), 'LIPO': np.int64(349), 'TAT': np.int64(89), 'PILIN': np.int64(18), 'TATLIPO': np.int64(10)}
Target count (median): 219
Class distribution after: {'NO_SP': np.int64(7569), 'SP': np.int64(1082), 'LIPO': np.int64(349), 'TATLIPO': np.int64(219), 'PILIN': np.int64(219), 'TAT': np.int64(219)}
Result: 9,117 → 9,657 train, 4,558 val

--- Fold 3 ---
Class distribution before: {'NO_SP': np.int64(7569), 'SP': np.int64(1082), 'LIPO': np.int64(350), 'TAT': np.int64(89), 'PILIN': np.int64(18), 'TATLIPO': np.int64(9)}
Target count (median): 219
Class distribution after: {'NO_SP': np.int64(7569), 'SP': np.int64(1082), 'LIPO': np.int64(350), 'TATLIPO': np.int64(219), 'PILIN': np.int64(219), 'TAT': np.int64(219)}
Result: 9,117 → 9,658 train, 4,558 val

✓ All 3 folds saved!
Test set saved separately: 3,419 samples

In [85]:
print("="*70)
print("DATASET ORGANIZATION SUMMARY")
print("="*70)
print(f"\n📁 Complete reduced dataset: {len(reduced_df):,} sequences")
print(f"   └─ File: reduced_30_signalP6.csv\n")

print(f"📁 Test Set (20%, held out): {len(test_df):,} sequences")
print(f"   ├─ NO_SP: {len(test_df[~test_df['has_sp']]):,} ({len(test_df[~test_df['has_sp']])/len(test_df)*100:.1f}%)")
print(f"   ├─ Has SP: {len(test_df[test_df['has_sp']]):,} ({len(test_df[test_df['has_sp']])/len(test_df)*100:.1f}%)")
print(f"   └─ File: reduced_30_signalP6_test.csv\n")

print(f"📁 Cross-Validation Set (80%): {len(train_val_df):,} sequences")
print(f"   ├─ NO_SP: {len(train_val_df[~train_val_df['has_sp']]):,} ({len(train_val_df[~train_val_df['has_sp']])/len(train_val_df)*100:.1f}%)")
print(f"   ├─ Has SP: {len(train_val_df[train_val_df['has_sp']]):,} ({len(train_val_df[train_val_df['has_sp']])/len(train_val_df)*100:.1f}%)")
print(f"   └─ Split into {n_folds} folds:\n")

for fold_idx in range(n_folds):
    fold_train = pd.read_csv(f"aufgabe3/3-fold/fold_{fold_idx + 1}_train_oversampled.csv")
    fold_val = pd.read_csv(f"aufgabe3/3-fold/fold_{fold_idx + 1}_val.csv")
    print(f"      Fold {fold_idx + 1}:")
    print(f"      ├─ Train: {len(fold_train):,} samples (oversampled to median) → fold_{fold_idx + 1}_train_oversampled.csv")
    print(f"      └─ Val:   {len(fold_val):,} samples (original) → fold_{fold_idx + 1}_val.csv")
print("\n" + "="*70)
print("✓ All datasets created successfully!")
print("="*70)

======================================================================
DATASET ORGANIZATION SUMMARY
======================================================================

📁 Complete reduced dataset: 17,094 sequences
   └─ File: reduced_30_signalP6.csv

📁 Test Set (20%, held out): 3,419 sequences
   ├─ NO_SP: 2,838 (83.0%)
   ├─ Has SP: 581 (17.0%)
   └─ File: reduced_30_signalP6_test.csv

📁 Cross-Validation Set (80%): 13,675 sequences
   ├─ NO_SP: 11,353 (83.0%)
   ├─ Has SP: 2,322 (17.0%)
   └─ Split into 3 folds:

      Fold 1:
      ├─ Train: 9,656 samples (oversampled to median) → fold_1_train_oversampled.csv
      └─ Val:   4,559 samples (original) → fold_1_val.csv
      Fold 2:
      ├─ Train: 9,657 samples (oversampled to median) → fold_2_train_oversampled.csv
      └─ Val:   4,558 samples (original) → fold_2_val.csv
      Fold 3:
      ├─ Train: 9,658 samples (oversampled to median) → fold_3_train_oversampled.csv
      └─ Val:   4,558 samples (original) → fold_3_val.csv

======================================================================
✓ All datasets created successfully!
======================================================================